* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
}

input[type="number"], select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
}

#quizSection {
  margin-top: 20px;
}

#quizQuestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Full-width container */
  max-width: 500px; /* Limit the width of the container */
  margin: 0 auto; /* Center the container horizontally */
  min-height: 400px; /* Minimum height for consistency */
  margin-top: 20px;
}

.question {
  width: 100%; /* Take the full width of the container */
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.question p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.question button {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px auto;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #0e8125;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.question button:hover {
  background-color: #b81427;
  transform: scale(1.02); /* Slight zoom effect */
}

#submitQuiz {
  margin-top: 20px;
  width: 100%;
}

#progress-container {
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
  margin-bottom: 15px;
}

#progress-text {
  font-size: 1.5em;
  color: #4CAF50; /* Green progress text */
}


@media (max-width: 600px) {
  .form-container {
    padding: 20px;
  }
}
